/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.stud_correct__record {
  background-color: #4CAF50;
  /* Set the background color */
  color: white;
  /* Set the text color */
  padding: 10px 20px;
  /* Add some padding */
  text-align: center;
  /* Center the text */
  text-decoration: none;
  /* Remove the underline */
  display: inline-block;
  /* Set the display to inline-block */
  font-size: 16px;
  /* Set the font size */
  margin: 4px 2px;
  /* Add some margin */
  cursor: pointer;
  /* Change the cursor on hover */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 8px rgba(0, 0, 0, 0.08);
      /* Add a box-shadow */
      transition: all 0.3s ease-in-out;
      /* Add a smooth transition effect */
}

.stud_correct__record:hover {
  background-color: #3e8e41;
  /* Darken the background color on hover */
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3),
      0px 6px 12px rgba(0, 0, 0, 0.12);
    /* Add a larger box-shadow on hover */
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}